/* hier die notwendigen CSS-Angaben einfügen */

/* das komprimierte html5-reset, das ich in der vorlesung erwähnt habe

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;display:none;margin:1em 0;padding:0}input,select{vertical-align:middle}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:before{content:"\201E"}q:after{content:"\201C"}.unsichtbar,.nurprint{position:absolute;width:1px;top:-1000px;left:-1000px}.group:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}* html .group{height:1%}:first-child+html .group{min-height:1px}
*/


body {
    color: #817F82;
    background-image:url('../p/img_78.gif');

}

a:link {
	color: #817F82;
}

hgroup {
	font-family: Impact;
}

hgroup h2 {
	font-size: 16px;
	padding-left: 20px;
	margin-top: -20px;
}

h1 {
    font-size: 300%;
    margin-bottom: 13px;
    margin-top: 0px;
    padding-left: 20px;
    text-transform: uppercase;
}

p {
	font-family: Georgia;
	font-size: 16px;
	line-height: 1.5;
	padding-left: 200px;
	padding-right: 200px;
}






.firstMenMoon figcaption {
	text-align: right;
}

.firstMenMoon article {
	width: 958px;
	height: 1650px;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 50px;
	background-color: #ffffff;
}

.firstMenMoon img {
 	margin-left: -41px;
}

.betont {
	color: #494E52;
	font-size: 210%;
	text-transform: uppercase;

}

.betont strong {
	color: #CF1314;
	background-color: #F2EDE7;
}







/* TODO table color and border */

.solarSystem {
	background-color: #9A9A9A;
	padding-bottom: 150px;
}

.solarSystem h1 {
	color: #4B4F52;
	padding-top: 20px;
}

.solarSystem article {
	padding-left: 200px;
}

.solarSystem table {
    border: 1px none #FFFFFF;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 25px;
}

.solarSystem tr:nth-child(odd) {
	background-color: #8A8A8A;
}

.solarSystem tr:nth-child(6) {
	color: #CEB9A8;
}

.solarSystem td {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}

.solarSystem td:nth-child(2) {
	text-align: right;
	    padding-left: 40px;
}

.solarSystem td:nth-child(3) {
	text-align: right;
	padding-left: 40px;
}

.solarSystem td:nth-child(1) {
	text-align: left;
    padding-right: 40px;
}

.solarSystem td:nth-child(4) {
	text-align: left;
    padding-right: 40px;
}

.solarSystem thead tr {
	background-color: #9A9A9A;
}

.solarSystem hgroup h2 {
	color: #FFFFFF;
}

.solarSystem a:link {
	color: #FFFFFF;	
}








/* TODO background image */

.keplerLaw {
	background:url('../p/keplerLawBorder.gif') repeat-x #000000;
	margin-top: -16px;
	height: 1250px;
}

.keplerLaw h1 {
    color: #EFFFFF;
    font-family: impact;
    font-size: 300%;
    margin-bottom: 20px;
    margin-top: 55px;
    padding-bottom: 30px;
    padding-left: 270px;
    text-transform: uppercase;
}

.keplerLaw p {
    color: #FBFFFF;
    padding-left: 410px;
    padding-right: 340px;
}

.keplerLaw strong {
	background-color: #28CFF3;
	color: #000000;
}

.keplerLaw a:link {
	color: #FFFFFF;
}

.keplerLaw figure {
	padding-left: 170px;
}


.keplerLaw cite {
    padding-left: 410px;
    padding-right: 360px;
}

.keplerLaw figcaption {
    color: #FFFFFF;
    margin-left: 721px;
    margin-top: -3px;
}


.earth img {
    border: 3px solid #FFFFFF;
    margin-bottom: -29px;
    margin-left: 655px;
    margin-top: -118px;
}

