/* @group html5 reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;display:none;margin:1em 0;padding:0}input,select{vertical-align:middle}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:before{content:"\201E"}q:after{content:"\201C"}.unsichtbar,.nurprint{position:absolute;width:1px;top:-1000px;left:-1000px}.group:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}* html .group{height:1%}:first-child+html .group{min-height:1px}


/* hier die CSS-Angaben allgemein */

body {
    font:13px/1.5 Verdana, Helvetica, sans-serif;
    color:rgb(81, 81, 81);
    margin:20px;
    background-color: #C2F2CF;
    color: #E44D32;
    
.sum {
	color: #CF1314;
	font-size: 120%;
} 

.wrap {
	float: center;
}

.pizzaimg {
	float: right;
}
 
}

h1 {
    font-size: 200%;
    margin: 0.5em 0 0.5em;
}

h2 {
    font-size:150%;
    margin:1em 0 0.3em;
}


fieldset {
    margin: 2em 0 2em;
}

.order p {
    margin:0.2em 0;
}

.order p.gap {
    margin:1em 0;
}

.order p.comment {
    margin:1em 0;
    font-size:80%;
}

.address p {
    margin:0.5em 0;
}



legend {
    font-size:150%;
    margin:0.3em 0;
}

label {
    display:inline-block;
    text-transform:uppercase; 
}

.address label {
    width: 10em;
}

input {
    display:inline-block;
}