/* hier die notwendigen CSS-Angaben einfügen */

/* das komprimierte html5-reset, das ich in der vorlesung erwähnt habe 

    Behalten Sie die Ordner-Struktur innerhalb des Übungspaketes bei!
    Alle benötigten Bilder befinden sich im Übungspaket im Ordner „p“
    Öffnen Sie das Dokument „so_solls_aussehen.jpg“ in einem Bildbearbeitungsprogramm (Photoshop/Gimp … ), um die Farbwerte der verschiedenen Elemente (Hintergründe, Überschriften usw.) herauszufinden und um die Breiten verschiedener Elemente heraus zu messen
    Verwenden Sie für den normalen Text die „Georgia“ und für Überschriften die „Impact“
    Der normale Text hat eine Schriftgröße von 16px und einen Zeilenabstand von 1.5
    Überschriften habe eine Größe von 300%
    Der eigentliche Inhaltsbereich soll 960px breit sein und jeweils in der Mitte des Browserfensters angezeigt werden */

a:link {
	color: #82817F;
}


body {    /* TODO: Bild einfügen und in der Mitte dargestellt*/;
}

article {
		margin-left: 240px;
		font: “impact“;
}


/* Ueberschriften */

h1, h3, h4, h5, h6 {
	font-size: 300%;
}

h2 {
	padding-top: 0px;
	color: #82817F;
}

.firstMenMoon, hgroup {
	color: #82817F;
	font-family: „Impact“;
}

p {
    font-family: „Georgia“;
    font-size: 16px;
    padding-left: 144px;
    padding-right: 274px;
	color: #82817F;
	/* TODO: Zeilenabstand 1.5 */
}

.betont {
	font-size: 268%;
}

section {
	width: 1234px;
	display:block;
}

img {
    margin-left: -38px;
}

figcaption {
	text-align: right;
}

figcaption .earth {
	padding-left: 68%;
}

cite {
	text-align: right;
}

strong {
	color: #AD1F2F;
	background-color: #F2F2F2;
}

table {
	color: #82817F;
}


.solarSystem {
	background-color: #9A9A9A;
	color: #828190;
}




 /* html,,div,span,object,iframe

 h2, h3, h4, h5, h6 





blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;display:none;margin:1em 0;padding:0}input,select{vertical-align:middle}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:before{content:"\201E"}q:after{content:"\201C"}.unsichtbar,.nurprint{position:absolute;width:1px;top:-1000px;left:-1000px}.group:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}* html .group{height:1%}:first-child+html .group{min-height:1px}

body {
    
}

section {

}
 */